body{
	background-color: lightgray;
}
#bleu{
	color: navy;
	text-align: center;
}
table{
	background-color: aqua;
	text-align: center;
	position: center;
}
#color
{
	text-decoration-color: antiquewhite;
	text-align: center;
	font-family: sans-serif;
}
}
@keyframes glisse{
	0%{
		transform: translateX(0);
	}
	10%{
		transform: translateX(0);
	}
	20%{
		transform: translateX(-670px);
	}
	30%{
		transform: translateX(-670px);
	}
	40%{
		transform: translateX(-1340px);
	}
	50%{
		transform: translateX(-1340px);
	}
	60%{
		transform: translateX(-2010px);
	}
	70%{
		transform: translateX(-2010px);
	}
	80%{
		transform: translateX(-2680px);
	}
	90%{
		transform: translateX(-2680px);
	}
	100%{
		transform: translateX(0);
	}
}