body
{
	background-image: url(../images/background.jpg);
	background-size: cover;
}
header{
	font-family: arial;
}
header nav {
	color: white;
}
header nav ul{
	list-style: none;
	margin: none;
	padding: none;
}
header nav ul li{
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100px;
	height: 40px;
	background-color: navy;
	line-height: 40px;
	text-align: center;
	align-content: center;
}
header nav ul li a{
	display: block;
	text-decoration: none;
	color: white;
}
header nav ul li a:hover{
	background-color: blue;
	opacity: 0.5;
}
header nav ul li ul li{
	display: none;
}
header nav ul li:hover ul li{
	display: block;
}
header nav ul li ul li a:hover{
	background-color: gray;
}
header nav ul li ul li a{
	text-decoration: none;
}